.skills {
  text-align: left;
  padding: 20px;
  font-family: sans-serif;
  font-size: 1rem;
}

.skills-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 100px;
  transition: transform 0.3s ease;
}

.skill-icon {
  font-size: 2rem;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.skill:hover {
  background-color: rgba(222, 235, 98, 0.4);
}
.skill:hover {
  transform: scale(1.1);
}
