.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  text-align: center;
  padding: 0.8rem;
  margin: 2rem;
  color: white;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.9);
  max-width: 1200px;
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.intro {
  padding: 1.3rem;
  line-height: 1.5rem;
  word-spacing: 0.1rem;
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(222, 235, 98);
}

@media (max-width: 468px) {
  .about-container {
    padding: 0.5rem;
    margin: 0.5rem;
    max-width: 100%;
    max-height: none;
  }

  .intro {
    padding: 1rem;
    line-height: 1.2rem;
    word-spacing: 0.05rem;
    font-size: 0.9rem;
    width: fit-content;
  }
}
